.container-feed {
  background-color: #F8F8F8;
  width: 700px;

  margin: 0 auto;
  text-align: center;

  height: 100vh;

  padding: 20px;
  margin-top: 20px;

  border: 5px solid rgb(142, 238, 118);
}

.container-postitem {
  border: 5px solid rgb(241, 36, 9);

  display: flex;
  flex-direction: row;
  justify-content: start;

  margin-bottom: 10px;
}

.infors {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  margin-left: 10px;
}

.infors span {
  color: #333;
}

img {
  border-radius: 50%;
  width: 70px;
}
